@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --gray: 243, 244, 246;
  --hyperlink-hover: 29, 79, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --gray: 55, 65, 81;
    --hyperlink-hover: 147, 196, 253;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

article {
}

article h1, h2, h3, h4, h5, h6 {
  font-family: "source-sans-3", "source-han-sans-cjk-sc", sans-serif;
  font-weight: 700;
}

article p, ul, em, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}

article h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
}

article h1 {
  font-size: 2em;
}

article h2 {
  font-size: 1.5em;
}

article h3 {
  font-size: 1.3em;
}

article h4 {
  font-size: 1em;
}

article h5 {
  font-size: 0.8em;
}

article h6 {
  font-size: 0.7em;
}

article p {
  font-family: "source-serif-4", "source-han-serif-sc", serif;
}

article ul {
  font-family: "source-serif-4", "source-han-serif-sc", serif;
  list-style: inherit;
  margin-left: 1em;
}

article em {
  font-family: "source-serif-4", "adobe-kaiti-std", cursive;
}

article code {
  font-size: 0.8em;
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(var(--gray));
  margin-left: 0.25em;
  margin-right: 0.25em;
}

article a {
  text-decoration: underline;
  transition-duration: 200ms;
}

article a:hover {
  color: rgb(var(--hyperlink-hover));
}

article blockquote {
  padding: 0.5em;
  margin-left: 1em;
}

article blockquote p {
  font-family: "adobe-kaiti-std", cursive;
}

.kai {
  font-family: "adobe-kaiti-std", cursive;
}

.hei {
  font-family: "source-sans-3", "source-han-sans-cjk-sc", sans-serif;
}

.ming {
  font-family: "source-serif-4", "source-han-serif-sc", serif;
}